.footerContainer{
    height: 300px;
}

.main_footer{
    background: #151515;
    color: white;
    padding: 30px 20px;
}

.footer__txt{
    color: #555;

}

.footer__link{
    color: #555;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.footer__input{
    background: #151515;
    width: 100%;
    display: block;
    padding: 20px;
    border: 1px solid #555;
    color: white;
}
.footer__title{
    border-bottom: 1px dotted #555;
    padding-bottom: 20px;
}
.copy{
    font-size: 1em;
    color: #555;
}

.section-container-confirmation{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
}