.sidebaroff {
    position: fixed;
    left: 0;
    top: 25%;
    height: 35%;
    width: 10px;
    background: #41d4cf;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
    /* border-radius: 50px; */
}

.sidebaron {
    position: fixed;
    left: 0;
    top: 25%;
    height: 35%;
    width: 70%;
    background: rgb(246, 252, 255);
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
    /* border-radius: 20px; */
    border: solid 2px #41d4cf;
}

.btnoff {
    font-size: 2rem;
    border: solid 2px transparent;
    background-color: transparent;
    color: white;
}

.sidebaroff .btnoff {
    transition: all 0.5s ease;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    cursor: pointer;
}

.btnon {
    font-size: 2rem;
    border: solid 2px transparent;
    background-color: transparent;
    color: #41d4cf;
}

.sidebaron .btnon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebaron .navList {
    margin-top: 145px;
    height: 100%;
}

.sidebaron li {
    position: relative;
    margin: 2px 0;
    list-style: none;
}

.sidebaron li .whereSpan {
    transition: all 0.5s ease;
    position: absolute;
    color: black;
    top: -100px;
    left: 0px;
    z-index: 0;
    background: white;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); */
    /* padding: 6px 12px; */
    border-radius: 4px;
    font-size: 1.5rem;
    /* font-weight: 400; */
    /* opacity: 0; */
    /* white-space: nowrap; */
    /* pointer-events: none; */
    /* transition: 0s; */
}

.sidebaron li .fromSpan {
    transition: all 0.5s ease;
    position: absolute;
    color: black;
    top: -60px;
    left: 0px;
    z-index: 0;
    background: white;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); */
    /* padding: 6px 12px; */
    border-radius: 4px;
    font-size: 1.3rem;
    /* font-weight: 400; */
    /* opacity: 0; */
    /* white-space: nowrap; */
    /* pointer-events: none; */
    /* transition: 0s; */
}

.sidebaron li .inputFromProvince {
    transition: all 0.5s ease;
    position: absolute;
    color: black;
    top: -20px;
    left: 0px;
    z-index: 0;
    height: 50px;
    width: 170px;
    border-radius: 12px;
    background-color: transparent;
    font-size: 1.3rem;
    border: solid 4px #41d4cf;

}

.sidebaron li .inputFromCity {
    transition: all 0.5s ease;
    position: absolute;
    color: black;
    top: -20px;
    left: 200px;
    z-index: 0;
    height: 50px;
    width: 170px;
    height: 50px;
    width: 170px;
    border-radius: 12px;
    background-color: transparent;
    font-size: 1.3rem;
    border: solid 4px #41d4cf;
}


.sidebaron li .dateTravelSpan {
    transition: all 0.5s ease;
    position: absolute;
    color: black;
    top: -60px;
    left: 400px;
    z-index: 0;
    background: white;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); */
    /* padding: 6px 12px; */
    border-radius: 4px;
    font-size: 1.3rem;
    /* font-weight: 400; */
    /* opacity: 0; */
    /* white-space: nowrap; */
    /* pointer-events: none; */
    /* transition: 0s; */
}

.sidebaron li .inputDateTravel {
    transition: all 0.5s ease;
    position: absolute;
    color: black;
    top: -20px;
    left: 400px;
    z-index: 0;
    height: 50px;
    width: 170px;
    border-radius: 12px;
    background: white;
    background-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #41d4cf;
    border-bottom-color: #41d4cf;
    border-right-color: #41d4cf;
    font-size: 1.3rem;
}

.sidebaron li .toSpan {
    transition: all 0.5s ease;
    position: absolute;
    color: black;
    top: -60px;
    left: 650px;
    z-index: 0;
    background: white;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); */
    /* padding: 6px 12px; */
    border-radius: 4px;
    font-size: 1.3rem;
    /* font-weight: 400; */
    /* opacity: 0; */
    /* white-space: nowrap; */
    /* pointer-events: none; */
    /* transition: 0s; */
}

.sidebaron li .inputToProvince {
    transition: all 0.5s ease;
    position: absolute;
    color: black;
    top: -20px;
    left: 650px;
    z-index: 0;
    height: 50px;
    width: 170px;
    height: 50px;
    width: 170px;
    border-radius: 12px;
    background-color: transparent;
    font-size: 1.3rem;
    border: solid 4px #41d4cf;
}

.sidebaron li .inputToCity {
    transition: all 0.5s ease;
    position: absolute;
    color: black;
    top: -20px;
    left: 850px;
    z-index: 0;
    height: 50px;
    width: 170px;
    height: 50px;
    width: 170px;
    border-radius: 12px;
    background-color: transparent;
    font-size: 1.3rem;
    border: solid 4px #41d4cf;
}

.sidebaron li .arrivaldateSpan {
    transition: all 0.5s ease;
    position: absolute;
    color: black;
    top: -60px;
    left: 1050px;
    z-index: 0;
    background: white;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); */
    /* padding: 6px 12px; */
    border-radius: 4px;
    font-size: 1.3rem;
    /* font-weight: 400; */
    /* opacity: 0; */
    /* white-space: nowrap; */
    /* pointer-events: none; */
    /* transition: 0s; */
}

.sidebaron li .inputDate {
    transition: all 0.5s ease;
    position: absolute;
    color: black;
    top: -20px;
    left: 1050px;
    z-index: 0;
    height: 50px;
    width: 170px;
    border-radius: 12px;
    background: white;
    background-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #41d4cf;
    border-bottom-color: #41d4cf;
    border-right-color: #41d4cf;
    font-size: 1.3rem;
}

.sidebaron li .btnadd {
    transition: all 0.5s ease;
    position: absolute;
    top: 100px;
    left: 1050px;
    z-index: 0;
    height: 50px;
    width: 200px;
    border: solid 2px #41d4cf;
    border-radius: 9px;
    font-size: 1.3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #41d4cf;
}

.displaynone {
    display: none;
    transition: all 0.5s ease;
}