
.spinner {
display: flex;
justify-content: center;
align-content: center;
height: 400px;
width: auto;
}


.infopagos {
  display: grid;
  grid-row: 1/3;
  background-color: rgba(53, 142, 183, 0.250
  );
  color: black;
}

