.homeBusiness {
    top: 1;
    bottom: 1;
    left: 1;
    right: 1;
}

.container {
    width: 99vw;
    height: 99vh;
    margin: 0.5vh 0.5vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(35, 1fr);
    grid-template-rows: repeat(35, 1fr);
    /* border: solid 2px rgb(38, 38, 241); */

}

.perfil {
    display: flex;
    flex-direction: row;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);*/
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 3/5;
    grid-column: 30/32;
    justify-content: center;
    align-items: center;
    padding: 10px 50px 30px 0;

}

.welcomeContainer {
    display: flex;
    /* justify-content: spa; */
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);*/
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 1/8;
    grid-column: 1/36;
    justify-content: space-between;
    /* align-items: left; */

    /* margin-top: 15px;
    margin-right: 20%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 5px;

}

.imgContainer {
    display: flex;
    /* flex-direction: column; */
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);*/
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 1/8;
    grid-column: 1/10;
    justify-content: center;
    align-items: center;

    /* margin-top: 15px;
    margin-right: 20%; */


}

.selectPerfil {
    border: solid 4px #41d4cf;
    background-color: transparent;
    color: #41d4cf
}


.soldProductsContainer {
    display: none;
    /* display: flex; */
    flex-wrap: wrap;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px); */
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 8/30;
    grid-column: 2/20;
    justify-content: center;
    align-items: center;
    overflow: auto;

}

.inventoryContainer {
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);*/
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 8/31;
    /* grid-row: 8/23; */
    grid-column: 2/17;
    /* grid-column: 21/35; */
    justify-content: center;
    align-items: center;
    overflow: auto;

}

.noStock {
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);*/
    border: solid 2px rgb(241, 38, 38);
    grid-row: 9/31;
    /* grid-row: 25/35; */
    grid-column: 18/35;
    justify-content: center;
    align-items: center;
    overflow: auto;

}

.noStockTitle {
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);*/
    /* border: solid 2px rgb(241, 38, 38); */
    grid-row: 8/9;
    /* grid-row: 25/35; */
    grid-column: 18/35;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

}

.btnContainer {
    display: flex;
    /* flex-direction: c; */
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);*/
    /* border: solid 2px rgb(241, 38, 38); */
    grid-row: 8/9;
    /* grid-row: 24/25; */
    grid-column: 17/18;
    /* grid-column: 33/35; */
    justify-content: center;
    align-items: center;
    /* overflow: auto; */

}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: 1px 5px;
    /* border: 1px solid #000; */
}

.btn {
    border: solid 2px #41d4cf;
    border-radius: 9px;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #41d4cf;
}