

  .spinner {
    background-color: #F6F5F5;
  display: flex;
  margin-top:40px; 
  justify-content: center;
  align-content: center;
  height:800px;
  width: auto;
}
.containerS {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.botonvol{
  border: none;
  
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-color: #3ab0ff;
  color: white;
  border: 3px solid #3ab0ff;
  font-weight: bold;
  border-radius: 5px;
  font-size: 15px;
  height: 40px;
  width: 130px;
  margin-top: 25px;
  padding-right:8px;
}
.botonvol:hover{
  border-color: #FFB562;
  transition: border-color 0.1s ease, background-color 0.4s ease;
  background-color: #FFB562; /* Green */
  color: white;
}

select {
  background-color: #3ab0ff;
  color: #F6F5F5 ;
  border:none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 15px;
  height: 40px;
  width: 200px;
  padding-left: 3px;
}

option {
  font-family: "Montserrat", sans-serif;

}

.containerS select {
  padding-left: 9px;
}
.containerS select:hover {
  border-color:#FFB562;
  transition: background-color 0.4s ease;
  background-color: #FFB562; /* Green */
  color: white;
}

.infopagos {
  display: grid;
  grid-row: 1/3;
  background-color: rgba(53, 142, 183, 0.25);
  color: black;
}
