.homeBusiness {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    /* margin: 0.5vh 0.5vw; */
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(35, 1fr);
    grid-template-rows: repeat(35, 1fr);
    /* border: solid 2px rgb(38, 38, 241); */

}

.perfil {
    display: flex;
    flex-direction: row;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);*/
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 3/5;
    grid-column: 30/32;
    justify-content: center;
    align-items: center;
    padding: 10px 50px 30px 0;

}

.welcomeContainer {
    display: flex;
    /* justify-content: spa; */
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);*/
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 1/8;
    grid-column: 1/36;
    justify-content: space-between;
    /* align-items: left; */

    /* margin-top: 15px;
    margin-right: 20%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 5px;

}

.imgContainer {
    display: flex;
    /* flex-direction: column; */
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);*/
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 1/8;
    grid-column: 1/10;
    justify-content: center;
    align-items: center;

    /* margin-top: 15px;
    margin-right: 20%; */


}

.selectPerfil {
    border: solid 4px #8c52ff;
    background-color: transparent;
    border-left-color: #8c52ff;
    border-top-color: #8c52ff;
    border-bottom-color: #8c52ff;
    border-right-color: #8c52ff;
    color: black;
    font-size: 1.05rem;
}

option {
    color: black;
    background-color: white;
}

option:hover {
    color: white;
    background-color: aqua;
}


.soldProductsContainer {
    display: none;
    /* display: flex; */
    flex-wrap: wrap;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px); */
    border: solid 2px rgb(38, 38, 241);
    grid-row: 8/30;
    grid-column: 2/20;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;

}

.inventoryContainer {
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);*/
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 3/31;
    /* grid-row: 8/23; */
    grid-column: 2/17;
    /* grid-column: 21/35; */
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08)

}

.noStock {
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);*/
    border: solid 1px rgb(241, 38, 38);
    grid-row: 3/35;
    /* grid-row: 25/35; */
    grid-column: 18/35;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08)

}

.noStockTitle {
    display: flex;
    /* flex-wrap: wrap; */
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);*/
    /* border: solid 2px rgb(241, 38, 38); */
    grid-row: 1/2;
    /* grid-row: 25/35; */
    grid-column: 18/35;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 40px;
}

.btnContainer {
    display: flex;
    /* flex-direction: c; */
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);*/
    /* border: solid 2px rgb(241, 38, 38); */
    grid-row: 1/2;
    /* grid-row: 24/25; */
    grid-column: 17/18;
    /* grid-column: 33/35; */
    justify-content: space-between;
    align-items: center;
    /* overflow: auto; */

}

.btnFilterNameContainer {
    display: flex;
    /* flex-direction: c; */
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);*/
    border: solid 2px rgb(241, 38, 38);
    grid-row: 1/2;
    /* grid-row: 24/25; */
    grid-column: 1/2;
    /* grid-column: 33/35; */
    justify-content: center;
    align-items: center;
    /* overflow: auto; */

}

.titlleTable {
    color: black;
    font-size: 140%;
}

.titlleTableNonSt {
    color: red;
    font-size: 140%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: 3px 20px;
    justify-content: center;
    align-items: center;
}

.btn {
    border: solid 2px #8c52ff;
    border-radius: 9px;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8c52ff;
    padding-bottom:3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2)
}

.btn:hover{
    transition: border-color 0.2s ease-in, background-color 0.4s ease-in;


    background-color: #8c52ff;
    color: white;
    border-color: rgb(31, 31, 31);
}