.divContainer {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 55% 40%;
  grid-gap: 5px;
}
.info {
    margin-left: 45px;
  margin-top: 80px;
}

.info h1 {
  margin-top: 30px;
}
.info span {
  margin-top: 30px;
}
.containerButton {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 20px;
}
#boton {
  font-family: "Montserrat", sans-serif;
  background-color: #8c52ff;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  font-size:15px;
  margin-left: 10px;
  /* padding-left: 20px;
  padding-right: 20px; */
 height: auto;
  width: 245px;
}
#boton:focus {
  border: none;
}

#boton:hover {
  transition: background-color 0.4s ease-in;
  background-color: black;
  color: white;
}
.img {

    border-radius: 5px;
    margin-top: 70px;
  width: auto;
  height: 22vw;
  object-fit: cover;
}
.photos {
  height: 900px;

  
}

