.paso1 span {
  text-align: left;
  font-size: 18px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
}
.info {
  margin-top: 30px;
}
.tabs h3 {
    font-weight: bold;
}

.info h1 {
  margin-top: 30px;
}
.info span {
  margin-top: 30px;
}

.paso1 h2 {
  margin-bottom: 35px;
}

.pasoPorPhoto img {
  object-fit: cover;
  height: 49.3%;
}

.ul {
  justify-content: center;
  align-content: center;
  list-style: none;
  display: flex;
  margin-left: 20px;
}
.ul li {
  float: left;
  margin: 20px;
  justify-content: space-evenly;
}

.divContainer {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 55% 40%;
  grid-gap: 5px;
}

.containerButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  margin-top: 40px;
}

.img {
  width: 75%;
  height: 75%;
  object-fit: cover;
}

.imagenesProductos {
  width: 60%;
  height: 80%;
  object-fit: cover;
}
.imgProduct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
}
.comoFunctiona {
 
  margin-top: 40px;
  margin-left: 60px;
  margin-right: 50px;
}

.comoFunciona h3 {
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 60px;
  margin-left: 20px;
  font-size: 25px;
  font-weight: 300;
  text-align: justify;
}

.pasoPorPasos {
 
  grid-template-columns: repeat(2, 1fr);
  height: 210px;
  /* margin: 40px; */
  text-align: center;
  margin-left: 50px;


  border: none;
}

.number {
  font-size: 2.75rem;
}
.pasoPorInfo {
  display: flex;
  grid-template-columns: 20% 80%;
  height: 210px;
  box-sizing: border-box;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.imgPaso1 {
  width: 100%;
  object-fit: cover;

  
}

.tabs {
  text-align: center;
}

.unete {
  background-image: url("../components/img/UNETE.jpg");
  background-size: cover;
  height: 270px;
  object-fit: cover;
  margin-top: 50px;
}

.buttonComunidad {
  margin-top: 5%;
}

.buttonComunidad button {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: #41d4cf;
  border: 3px solid #41d4cf;
  font-weight: bold;
  border-radius: 5px;
  width: 15%;
  padding: 12px;
  margin-left: 30px;
}

.titleUnete {
  color: white;
  font-weight: 700;
  padding-top: 60px;
  text-transform: uppercase;
}

.buttonComunidad button:hover {
  transition: background-color 1s ease;
  background-color: #41d4cf; /* Green */
  color: white;
}

.tabsComprador {
  text-align: center;
  margin-left: 298.991px;
  padding: 12px;
}
.imgPaso1 {
  object-fit: cover;
  height: inherit;
}
.imgPaso1 img {
  object-fit: cover;
  height: inherit;
}
.boton {
  margin-top: 80px;
  font-size: 18px;
  width: 400px;
  height: 45px;
}
/* .btn-primary {

} */
.botonAhora {
  height: auto;
  width: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
#boton {
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  background-color: chocolate;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 25px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  width: 200px;
}
#boton:focus {
  border: none;
}

#boton:hover {
  transition: background-color 0.4s ease-in;
  background-color: #3ab0ff;
  color: white;
}
