
.navbarLanding {
    
    height: 130px;
    background-color: rgba(0, 0, 0, 0.877);
    border-bottom: solid 1px rgba(0, 0, 0, 0.364); 
    padding-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    
  }
  /* .navbarLanding h1 {
    font-family: 'Mogra', cursive;
    color: #8c52ff;
    margin-top: 20px;
    margin-left: 40px;
    

  } */

  
  
.buttonSubmit button{
  font-family: "Montserrat", sans-serif;
    background-color: white;
    color: #8c52ff;
    border: 3px solid #8c52ff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    /* margin-left: "33%" */
}

  
  .contbotones2 {
    display: flex;
    margin-top: 50px;
   
    margin-right: 0px;
    
  }
  .contbotones2 Button{
    margin-right: 10px;
  }
  
  .navbarLanding button {
    font-family: "Montserrat", sans-serif;
    background-color: #8c52ff;
    color: white;
    border: 3px solid #8c52ff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 20px;
    
    height: 35px;
    width: 160px;
  }
  .navbarLanding button:hover {
    transition: border-color 0.2s ease-in, background-color 0.4s ease-in;
    background-color:#8c52ff53;    
    color: white;
    border-color: #8c52ff53;
    ;
  }


  .modalTitle{
    text-align: center;
    margin-bottom: 20px;
  }

  .buttonModals{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
  }

  .buttonModals button{
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: #8c52ff;
    border: 3px solid #8c52ff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
  }