
.navbarLanding {
    display: flex;
    align-content: space-around;
    margin-bottom: 120px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.364); 
    padding-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  }
  
  .imagen {
      margin-top: 15px;
      margin-right: 40.5%;
  }
  
.buttonSubmit button{
  font-family: "Montserrat", sans-serif;
    background-color: white;
    color: #3ab0ff;
    border: 3px solid #3ab0ff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    margin-left: "33%"
}

  
  .contbotones2 {
    display: flex;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 0px;
    
  }
  .contbotones2 Button{
    margin-right: 10px;
  }
  
  .navbarLanding button {
    font-family: "Montserrat", sans-serif;
    background-color: #3ab0ff;
    color: white;
    border: 3px solid #3ab0ff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    
    height: 40px;
    width: 180px;
  }
  .navbarLanding button:hover {
    transition: border-color 0.2s ease-in, background-color 0.4s ease-in;
    background-color: #ffb562;
    color: white;
    border-color: #ffb562;
  }


  .modalTitle{
    text-align: center;
    margin-bottom: 20px;
  }

  .buttonModals{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
  }

  .buttonModals button{
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: #3ab0ff;
    border: 3px solid #3ab0ff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
  }