.navbar {
  position: relative;

  margin-bottom: 120px;
}
.navbar img {
  display: inline-block;
  padding-top: 50px;
}

.navbar button {
  margin-top: 0px;
  margin-left: 10px;

  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: #41d4cf;
  border: 3px solid #41d4cf;
  font-weight: bold;
  border-radius: 5px;
  font-size: 15px;
 

  height: 40px;
  width: 130px;
}

.navbar button:hover {
    transition: background-color 1s ease;
  background-color: #41d4cf; /* Green */
  color: white;
}

.contbotones {
    margin-left: 80%;
}
