.navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);  
  height: 100px;
}

.imagen {
  height:100%;
  object-fit: cover;
  width: auto;
  margin-right: 25%;  
}
#botonCart {
  height: 40px;
}

#botonCart:hover {
  border-color: #3ab0ff;
  transition: background-color 0.8s ease;
  background-color: chocolate;
  color: white;
}

.search {
  margin-top: 33px;
 
}
.selectPerfil {
  margin-left:2%;
}
.selectPerfil option {
  background-color: chocolate;
  color: white;
 
}

.SearchBar input {
  border: 3px solid #1687a7;
  color: #1687a7;
  height: 33px;
  width: 200px;
  margin-right: 0px;
  padding-bottom: 20px;
}

.SearchBar button {
  margin-left: 10px;
  border-radius: 5px;
}

.SearchBar input::placeholder {
  color: #1687a7;
  font-size: 10px;
}

.contbotones {
  display: flex;
  margin-top: 55px;
  margin-left: 5%;
}

.contbotones button {
  margin-right: 10px;
}

.navbar button {
  font-family: "Montserrat", sans-serif;
  background-color: #f6f5f5;
  color: #1687a7;
  border: 3px solid #1687a7;
  font-weight: bold;
  border-radius: 5px;
  font-size: 15px;
  height: 40px;
  width: 90px;
 
}

.navbar button:hover {
  transition: background-color 1s ease;
  background-color: #41d4cf;
  /* Green */
  color: #f6f5f5;
}

.selectPerfil {
 font-weight: 400;
 font-family: "Montserrat";
 
  border: none;
  background-color: rgba(210, 105, 30, 0.1);
  color: chocolate;
  font-size: 1rem;
}

.señectPerfil select-selected {
  transition:color 0.5s, background-color 0.5s,;
  background-color: chocolate;
  color:white;
}

.spinner {
  padding-top: 250px;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 400px;
  width: auto;
}
