.paginado {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(255, 255, 255, 0.897);
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0,0,0,0.5); */
  /* border-radius: 18px; */
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;

}

button {
 color:black;
  background-color: white;
  border: none;
  font-weight: bolder;
  transition: font-weight 0.5s ease;
}

button:hover {
    font-weight: bold;
   
}

.containerB {
    margin: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
  
}
