.paginado {
  font-family: "Montserrat", sans-serif;
  /* background-color: #F6F5F5; */
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0,0,0,0.5); */
  /* border-radius: 18px; */
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 33%;
  margin-right: 20%;
  margin-top: 2%;
}

.paginado button {
  color: white;
  background-color: #8c52ff;
  border-radius: 50%;
  border: none;
  width: 36px;
  height: auto; 
  font-size: 22px;
  /* font-weight: bolder; */
  transition: font-weight 0.1s ease, background-color 0.2s, color 0.2s ease;
 
}


.paginado button:hover {
  font-weight: bold;
  background-color: rgba(210, 105, 30, 0.15);
  color:  #8c52ff;
}

.containerB {
  margin: 10px;
  padding-top: 25px;
  padding-bottom: 20px;
}
