.paginado{
    background-color:rgba(255, 255, 255, 0.897);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
    border-radius: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
}