.paginado {
  font-family: "Montserrat", sans-serif;
  background-color: #F6F5F5;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0,0,0,0.5); */
  /* border-radius: 18px; */
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
}

.paginado button {
  color: #3ab0ff;
  background-color: #F6F5F5;
  border: none;
  font-size: 23px;
  font-weight: bolder;
  transition: font-weight 0.5s ease;
}

button {
  color: #3ab0ff;
  background-color: #F6F5F5;
  border: none;
  font-weight: bolder;
  transition: font-weight 0.5s ease;
}

button:hover {
  font-weight: bold;
}

.containerB {
  margin: 10px;
  padding-top: 25px;
  padding-bottom: 20px;
}
