.PerfilBusiness {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0.5vh 0.5vw;
    /* top: 0; */
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(99, 1fr);
    grid-template-rows: repeat(99, 1fr);

}

.PerfilBusiness,
.container {

    position: absolute;

}


.emailContainer {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px); */
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 2/20;
    grid-column: 5/50;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    color: #8c52ff;
}

.branchManTittle {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px); */
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 22/32;
    grid-column: 55/75;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    color: #8c52ff;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px); */
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 25/35;
    grid-column: 5/45;
    justify-content: center;
    align-items: left;

}

.passButton {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px); */
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 2/20;
    grid-column: 50/99;
    justify-content: center;
    align-items: center;
}


.cuitContainer {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px); */
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 35/45;
    grid-column: 5/45;
    justify-content: center;
    align-items: left;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px); */
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 45/55;
    grid-column: 5/45;

    justify-content: center;
    align-items: left;
}

.provinceContainer {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px); */
    /* border: solid 2px rgb(241, 38, 38); */
    grid-row: 35/45;
    grid-column: 50/65;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.cityContainer {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px); */
    /* border: solid 2px rgb(241, 38, 38); */
    grid-row: 35/45;
    grid-column: 70/85;

    justify-content: center;
    align-items: center;
}

.addressContainer {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px); */
    /* border: solid 2px rgb(241, 38, 38); */
    grid-row: 45/55;
    grid-column: 50/80;
    justify-content: center;
    align-items: left;
}

.addBranch {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px); */
    /* border: solid 2px rgb(241, 38, 38); */
    grid-row: 48/51;
    grid-column: 83/85;
    justify-content: center;
    align-items: center;
}

.branchContainer {
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px); */
    /* border: solid 2px rgb(241, 38, 38); */
    grid-row: 60/95;
    grid-column: 50/95;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}

.taxBracketContainer {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px); */
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 55/65;
    grid-column: 5/45;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.subButton {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px); */
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 70/80;
    grid-column: 5/10;
    justify-content: center;
    align-items: center;
}

.backButton {
    display: flex;
    /* background-color: rgba(255, 255, 255, 0.093);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px); */
    /* border: solid 2px rgb(38, 38, 241); */
    grid-row: 85/95;
    grid-column: 5/10;
    justify-content: center;
    align-items: center;
}




.btn {
    border: solid 2px #8c52ff;
    border-radius: 9px;
    width: 8rem;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8c52ff;
}

.btnPass {
    /* border: solid 2px #41d4cf; */
    border-radius: 9px;
    width: 8rem;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8c52ff;
}

.btnAdd {
    border: solid 2px #8c52ff;
    border-radius: 9px;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #41d4cf;
}

input {
    background-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #8c52ff;
    border-bottom-color: #8c52ff;
    border-right-color: #8c52ff;
    color: black;
    font-size: 1.3rem;
}

select {
    width: 250px;
    background-color: transparent;
    border: solid 2px #8c52ff;
    color: #8c52ff;
    font-size: 1.4rem;
}

.titlleTable {
    color: black;
    font-size: 140%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: 3px 20px;
    justify-content: center;
    align-items: center;
}