#boton {
  font-family: "Montserrat", sans-serif;
  background-color: chocolate;
  color: white;
  border: 3px solid chocolate;
  font-weight: bold;
  border-radius: 5px;
  font-size: 15px;
  height: 40px;
  width: auto;
}

#boton:hover {
  transition: border 1.5s ease, background-color 1.5s ease;
  background-color: #3ab0ff;
  color: white;
  border: 3px solid #3ab0ff;
}
#card {
  text-align: left;
  transition: box-shadow 0.4s ease;
  max-width: 100%;
  min-width: 20%;
  margin: 10px;
  
  
}


#card:hover {
  /* background-color: #41d4cf69; */
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3), 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}
#name {
  font-size: 37px;
  font-weight: 400;

  text-align: left;
}
#price {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: 200;
  /* margin-left: 10px; */

  text-align: left;
}
/* 
 img {
  max-height: 40%;
  object-fit: fill;
} */
.bold {
  justify-content: left;
  text-align: left;
  font-weight: bolder;
}
#bold {
  font-weight: bolder;
}
#description {
  margin-top:20px;
}
/* 

.container {
  margin-top: 100px;

  
  background-color: rgba(255, 255, 255, 0.975);
  text-decoration: none;
  transition: width 0.8s ease;
  width: 18%;
  height: 515px;
 
  margin: 50px;
  justify-content: center;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.150), 0 8px 16px 0 rgba(0, 0, 0, 0.150);
  padding-bottom: 10px;
}

.container img {
 border-radius: 10px;
  width: 100%;
  height: auto;
object-fit: cover;

}
footer {
  background-color: #F7F7F9;
}

.container:hover {
  width: 20%;
  
}

.containertext {
  font-family: 'Montserrat', sans-serif;
  margin-left: 7%;
  width: 80%;  
}

.empresa {
  text-decoration: none;
  margin-top: 0px;
  font-size: 18px;
  float: right;
  margin-bottom: 10px;
}
.province {
  display: flex;
}
.description {
  font-weight: 400;
  font-size: 20px;
}
*/
