.cont {
  display: flex;
  background-color: white;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
}
body {
  background: white;
}
.layout {
  display:flex;
  flex-direction: column;
  margin-top:0;

}

.contBot {
  margin: 0px;
  /* display: flex;
  justify-content: space-around; */
}
#card {
  border: none;
  margin-left: 20px;
  padding: 0;
  text-align: left;
  /* margin-top: 20px; */
  transition: box-shadow 0.8s ease-in;
}
.imgCon {
  padding: 0px;
  margin: 0px;
  width: 25%;
}
#provincia {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.55);
}

.imgCon img {
  float: right;
  object-fit: fill;
  max-height: 30%;
  width: auto;
  height: auto;
  margin: 25px;
  /* border: solid 1px black; */
}
/* #card:hover {
  background-color: #41d4cf69;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.35), 0 8px 16px 0 rgba(0, 0, 0, 0.35);
} */
#provincia {
  font-size: 15px;
}
#boton {
  font-family: "Montserrat", sans-serif;
  background-color: #8c52ff;
  color: white;
  border: 3px solid #8c52ff;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 15px;
  height: 40px;
  width: 100%;
}
#categoria {
  color: rgba(0, 0, 0, 0.55);
  font-size: 14px;
  font-weight: 400;
}
#boton2 {
  font-family: "Montserrat", sans-serif;
  background-color: #8c52ff;
  color:black;
  border: 3px solid  #8c52ff;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  height: 35px;
  padding-bottom: 5px;
  width: 100%;
  margin-left: 0;
}

#boton:hover {
  transition: border-color 0.2s ease-in, background-color 0.4s ease-in;
  background-color: black;
  color: white;
  border-color: black;
}
#boton2:hover {
  transition: border-color 0.2s ease-in, background-color 0.4s ease-in;
  background-color: black;
  color: white;
  border-color: black;
}
#name {
  /* margin-left: 20px; */
  font-size: 42px;

  font-weight: 200;
  text-align: left;
}
#categories span {
  text-align: left;
}
#empresa {
  color: rgba(0, 0, 0, 0.55);
  font-size: 10px;

}

#categories {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
}
#bold {
  font-weight: bold;
  font-size: 15px;
  margin-left: 8px;
}
#description {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}
#price {
  padding-top: 2px;
  padding-bottom: 8px;
  font-size: 45px;
  font-weight: 200;
  /* margin-left: 10px; */
  text-align: left;
}

.spinner {
  padding-top: 250px;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 400px;
  width: auto;
}
