.btn {
    border: solid 2px #8c52ff ;
    border-radius: 9px;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #8c52ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08)
}
.btn:hover{
    transition: border-color 0.2s ease-in, background-color 0.4s ease-in;


    background-color: #8c52ff;
    color: white;
    border-color: rgb(31, 31, 31);
}

.btncontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* th { */
/* font-size: 85%; */
/* } */