
.PhoneInputCountryIcon--border {
    width: 100%;
    height: auto;
}
.PhoneInput {
    display: grid;
    align-items: center;
    grid-template-columns: 10% 90%;
}

.iconImg{
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}

 .btn-primary{
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #3AB0FF ;
    border-color:#3AB0FF  ;
    border: 3px solid #3AB0FF;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    height: 40px;
    width: auto;
} 

.btn-primary:hover {
    transition: background-color 0.2s ease;
    background-color: #FFB562;
    color: white;
    border: 3px solid #FFB562;
    
}


  
