.iconImg{
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}
.PhoneInputCountryIcon--border {
    width: 100%;
    height: auto;
}
.PhoneInput {
    display: grid;
    align-items: center;
    grid-template-columns: 10% 90%;
}
/* .btn-primary{
    color: #fff;
    background-color: #0E49B5 !important;
    border-color:#0E49B5 !important ;
} */