.divContainer {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-left: 0px;

 /*  margin-top: 5px;
  margin-left: 100%; */
}

.divContainer input {
 border-radius:5px;
  border-color: #8c52ff;
  border: none;
  padding-top:10px;
  padding-bottom: 10px;
  margin-right: 0px;
  padding-left: 5px;
  

  height: 40px;
}
.divContainer input::placeholder {
  font-family: "Montserrat";
  font-size: 14px;
  margin-left: 6px;
 
  margin-top: 0px;
  color:white;
  font-weight: bold;
  text-align: left;

}
.divContainer input:hover {
  background-color: #8c52ff;
  color: black;
  transition: color 1.0s ease, background-color 1.0s ease;
}

.divContainer input:focus {
    outline: none;
    background-color: #8c52ff5d;

}
.divContainer input:focus::placeholder{
    color:black;

}

#boton {
  background-color: #8c52ff;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  /* padding-top: 0px; */
  width: 40px;
}

#boton:hover {
  background-color: black;
    color: white;
  
  transition: color 0.2s ease;
}
